.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 96%;
  padding: 20px;
  background-color: #282828;
}

.footer_right * .MuiSlider-root {
  color: green;
}

.footer_left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  max-width: 300px;
}

.footer__albumLogo {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-right: 20px;
}

.footer_songInfo > h4 {
  margin-bottom: 5px;
}
.footer_songInfo > p {
  font-size: 12px;
}

.footer_center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
}

.footer_icon:hover,
.footer_green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer_right {
  flex: 0.3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
}

.footer_green {
  color: #1ed15e;
}
