.sidebar {
  height: 100vh;
  flex: 0.2;
  color: white;
  padding: 0 10px;
  min-width: 200px;
  background-color: #040404;
}

.sidebar_logo {
  margin-right: auto;
  height: 40px;
  padding: 10px;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}
